@font-face {
    font-family: 'Code';
    src: url('Source_Code_Pro/static/SourceCodePro-SemiBold.ttf') format('truetype');
}

body {
    font-family: 'Code';
    background-color: black;
}

nav {
    border-bottom: 1px solid rgb(28, 28, 28);
    background-color: black;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: rgb(172, 172, 172);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.nav-link:hover,.navbar-brand:hover {
    color: white;
}

.polygon {
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    background: rgb(163,21,77);
    background: linear-gradient(90deg, rgb(142, 18, 68) 0%, rgb(223, 34, 72) 50%, rgb(244, 11, 120) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.polygon img {
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}

.hero-right {
    padding: 60px 0 60px 50px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3.5rem;
    color: white;
}

.title {
    font-size: 2.8rem;
    text-transform: uppercase;
    color: white;
    animation: text3D 2.5s infinite;
}

@keyframes text3D {
    0% {
        text-shadow: 2.5px 0 0 rgb(107, 255, 9), -2.5px 0 0 rgb(216, 43, 101);
    }
    25% {
        text-shadow: -2.5px 0 0 rgb(107, 255, 9), 2.5px 0 0 rgb(216, 43, 101);
    }
    50% {
        text-shadow: 2.5px 0 0 rgb(107, 255, 9), -2.5px 0 0 rgb(216, 43, 101);
    }
    75% {
        text-shadow: -2.5px 0 0 rgb(107, 255, 9), 2.5px 0 0 rgb(216, 43, 101);
    }
    100% {
        text-shadow: 2.5px 0 0 rgb(107, 255, 9), -2.5px 0 0 rgb(216, 43, 101);
    }
}

.words {
    color: rgb(216, 43, 101);
    text-transform: uppercase;
    font-size: 1.1rem;
}

.decoration-line {
    width: 60px;
    border-bottom: 5px solid rgb(216, 43, 101);
}

.about {
    color: rgb(229, 229, 229);
}

.about h2 {
    color: white;
}

.about div img {
    width: 100%;
}
