@font-face {
    font-family: 'Code';
    src: url('Source_Code_Pro/static/SourceCodePro-SemiBold.ttf') format('truetype');
}

body {
    font-family: 'Code';
}

nav {
    border-bottom: 1px solid rgb(28, 28, 28);
    background-color: black;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: rgb(172, 172, 172);
    text-transform: uppercase;
}

.nav-link:hover {
    color: white;
}
